USE [master]
GO
/****** Object:  Database [company_DB]    Script Date: 16-02-2024 11:59:10 ******/
CREATE DATABASE [company_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'company_DB', FILENAME = N'C:\Users\User\Desktop\MSSQL16.SQLEXPRESS\MSSQL\DATA\company_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'company_DB_log', FILENAME = N'C:\Users\User\Desktop\MSSQL16.SQLEXPRESS\MSSQL\DATA\company_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [company_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [company_DB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 16-02-2024 11:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Dept_ID] [varchar](10) NULL,
	[Dept_Name] [varchar](20) NULL,
	[Dept_Location] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 16-02-2024 11:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Emp_ID] [int] NOT NULL,
	[Emp_Name] [varchar](20) NOT NULL,
	[Emp_Salary] [decimal](10, 2) NULL,
	[Emp_DeptID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Emp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Department] ([Dept_ID], [Dept_Name], [Dept_Location]) VALUES (N'D1', N'Development', N'California')
INSERT [dbo].[Department] ([Dept_ID], [Dept_Name], [Dept_Location]) VALUES (N'D2', N'Marketing', N'Mumbai')
INSERT [dbo].[Department] ([Dept_ID], [Dept_Name], [Dept_Location]) VALUES (N'D3', N'Account', N'New York')
GO
INSERT [dbo].[Employee] ([Emp_ID], [Emp_Name], [Emp_Salary], [Emp_DeptID]) VALUES (1111, N'Steve', CAST(35000.00 AS Decimal(10, 2)), N'D1')
INSERT [dbo].[Employee] ([Emp_ID], [Emp_Name], [Emp_Salary], [Emp_DeptID]) VALUES (1112, N'Adam', CAST(28000.00 AS Decimal(10, 2)), N'D2')
INSERT [dbo].[Employee] ([Emp_ID], [Emp_Name], [Emp_Salary], [Emp_DeptID]) VALUES (1113, N'John', CAST(50000.00 AS Decimal(10, 2)), N'D3')
GO
USE [master]
GO
